//本系统分割线
.header-nav-divider {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

//模块介绍
.module-introduced {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 500;
  color: #304455;
  letter-spacing: 2px;
}

//代码显示容器高度
.CodeMirror {
  height: 100% !important;
}

//固定表单内容区
.fixed-form {
  .el-form-item__content {
    width: 176px;
  }
}